// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
//IDR_BG                  RCDATA                  "boos_gb.dds"



IDR_MYSDATA             RCDATA                  "MysticForgeJson.json"
IDR_ITEMDATA             RCDATA                  "Items.json"
IDR_RECIDATA             RCDATA                  "RecipesJson.json"

